<main class="main">
  <section class="staticSection container">
    <div class="margin-top">
      <span class="mainHeadding">Return and Refund Policy</span>
      <div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner  "><div class="wpb_wrapper">
        <div class="wpb_text_column wpb_content_element ">
          <div class="wpb_wrapper">
            <p><strong>What is Aap Ka Bazar’s Returns policy?</strong></p>
      <p><strong>Aap Ka Bazar’s 4 Day Returns Policy</strong></p>
      <p>&nbsp;</p>
      <p><strong>“No Questions Asked Return Policy!”</strong></p>
      <p>Though we strive to give you a great customer experience each time you shop with us, if at all you are not 100% satisfied with your purchase, you can return your Order for a full refund of paid price.</p>
      <p>We mean what we say! All you need to do is give us a call on +91 9150 03 03 03 (09:00 a.m – 07:00 p.m) or drop an email within a period of 4 days, from the date of order. However, you must understand that we can’t bear a loss either; so return of products will be accepted only if the products are returned in a saleable condition with the tags intact and in their original packaging, in an unwashed and undamaged condition. C’mon that’s just fair!</p>
      <p>Please note that “Aap Ka Bazar’s 4 Day Returns Policy” does not apply to Inner wear, Lingerie, Fragrances, Beauty products, CDs, Pens &amp; Books. Refund/ replacement for goods/ merchandise is subject to inspection and checking by team. Damages due to neglect, improper usage or application will not be covered under our Returns Policy. Some special rules for promotional offers may override our 4 Day Returns Policy.” Please note that the Cash on Delivery convenience charge and the shipping charge would not be included in the refund value of your order as these are non-refundable charges.</p>
      <p>If I am not satisfied with the quality.</p>
      <p><strong>Can I return a part of my order?</strong></p>
      <p>Yes, you may return a part of the Order, in case of multiple items in an order. Any product being returned needs to be returned in full including all components as well as any complimentary gifts or products which came along with it. However, if your purchase was made in the period of a special promotional offer, contests or any special scheme then special rules might apply for returns.</p>
      <p>&nbsp;</p>
      <p><strong>How long will the return process take?</strong></p>
      <p>Once your return request has been placed with Customer Service, it usually takes about 48 hrs to have the product picked from your place. In case you are sending the product back on your own, the delivery time would depend on your chosen courier. Once the item is received in our warehouse, it undergoes a Product Inspection which takes about 48 hrs. After successful inspection typically the refunds are initiated and will reflect in your account within 7-15 days. The receipt of the payment would depend on the mode of payment chosen by you.</p>
      <p>&nbsp;</p>
      <p><strong>How will I receive my Refund?</strong></p>
      <p>If the payment was made by Credit Card or Net-Banking, we can either issue AKB Wallet Credits or reverse credit to the Credit Card or credit your Net-Banking account or Credit Your Paytm Wallet. AKB Wallet Credits can be utilized on a future purchase on the website. If the payment made was by Cash on Delivery, we can either issue AKB Wallet Credits or Bank Transfer or Credit Your Paytm Wallet. AKB Wallet Credits can be utilized on a future purchase on the website. If AKB Wallet Credits were used to make a purchase, refund will only be issued as AKB Wallet Credits. This can be utilized on a future purchase on the website.</p>
      <p>&nbsp;</p>
      <p><strong>What is AAP Ka Bazar’s Cancellation policy?</strong></p>
      <p>AAP Ka Bazar holds the right to its discretion to cancel any order at any point in time. A few reasons for order cancellation are:-</p>
      <p><strong>1. Bad weather conditions.</strong><br>
      <strong>2. The product got damaged before delivery.</strong><br>
      <strong>3. Extreme weather conditions not appropriate for delivery.</strong><br>
      <strong>4. Out of stock but somehow still visible at the Website/App.</strong><br>
      <strong>5. Clerical mistakes in products information shown on the Website/App.</strong><br>
      <strong>6. Excessive quantity ordered by the customer for those items which are high in demand.</strong><br>
      <strong>7. Many other reasons not covered above.</strong></p>
      
          </div>
        </div>
      </div></div></div>
    </div>
    </section>
</main>
