<main class="main">
    <div class="container faq">
      <h1 class="head-other-page">FAQ</h1>
      <div class="border-line"></div>
      <h3>General</h3>
      <h5>What is Aapkabazar?</h5>
      <p>Aapkabazar is the most convenient hyper local delivery company which enables you to order grocery, bakery, fruits & vegetables and other products that you need every day, directly via your mobile or web browser.</p>
      <h5>What should I do if an item is defective (broken, leaking, expired)? </h5>
      <p>We will try to provide best of our services to our customer but in any case if it happens then you mail on
        <a href="mailto:aapkabazar.co@gmail.com">aapkabazar.co@gmail.com</a></p>

      <h5>I would like to suggest some product. Who do I contact?</h5>
      <p>With the help of feedback option you can give your valuable suggestion.</p>

      <h5>How & where I can give my feedback?</h5>
      <p>Firstly you have to go to profile and there is a option of help center then share your feedback.</p>

      <h3>Payment Related</h3>

      <h5>If pay by credit card how do I get the amount back for items not delivered? </h5>
      <p>When vendor are unable to deliver the order, in that case within 24hrs the total amount return back to in the
        bank account of the user. </p>

      <h5>I am being charged GST amount on my order. What is GST?</h5>
      <p>GST is a single tax on the supply of good and services that is levied on every value addition (through production
        and services) and is added to a
        product's sale price. GST has to home/paid by the ultimate consumer of the product or service. GST will be charged
        according their market policy.</p>

      <h5>What should I do if my payment fails?</h5>
      <p>Please retry to make the payment after ensuring that the information enterned is accurate, including all account
        details, billing addresses and password
        If your payment is debited from your account after a payment failure, it will be credited back within 7-10 days,
        after we receive a confirmation from the
        bank.</p>

      <h5>If I return/cancel the purchased product will the GST/VAT amount charged be refunded?</h5>
      <p>Yes, it will be refunded.</p>

      <h5>How do I know what will be the shipping charges on my order?</h5>
      <p>Shipping charge will be mentioned in product details during subscriptions.</p>

      <h5>Money deducted from my card without my consent</h5>
      <p>With consent there is no amount deducted from your account.</p>

      <h5>I have not received notification about my bill payment.</h5>
      <p>Check the details as mobile number, email is accurate or not.</p>
      <h5>What kind of products do you sell?</h5>
      <p>You can choose from over 120,000 products spread across various categories such as grocery, bakery, fruits & vegetables, beverages, personal care products, baby care products, pet products and much more.</p>
      <h5>What cities and locations do you operate in?</h5>
      <p>Aapkabazar currently operates Noida and greater noida.</p>
      <h5>Do you deliver to my location?</h5>
      <p> We deliver in select localities across the cities we are present in. You can edit your location settings to check if we deliver in your area.</p>
      <h5>What is the minimum order value?</h5>
      <p>There is no minimum order value. However, each store has a minimum order value to qualify for free delivery. In case you do not reach the limit, a delivery charge will be levied against that order.</p>
      <h5>Do you charge for delivery?</h5>
      <p>Every store has its own delivery charges, which are waived off if you order above a specified minimum amount from the store. The minimum charges and the delivery charges are mentioned on the app and web at the checkout page.</p>
      <h5>Money deducted multiple times from my wallet for the same tranfer.</h5>
      <p>Any extra amount deduction or multiple deduction for the same transaction will be refund back to user bank
        account within 7 to 15 days working days.</p>
        <h5>What are your delivery times?</h5>
        <p>We deliver every 2 hours, starting at 10:00 am till 10:00 pm every day. You can choose a suitable time slot for delivery according to your convenience.</p>
        <h5>What if I don’t receive my order by the scheduled time?</h5>
        <p>On rare occasions, due to unforeseen circumstances, your order might be delayed. In case of imminent delay, our customer support executive will keep you updated about the delivery time of your order.</p>

    </div>
  </main>
