<main class="main">
    <!--Carousel Wrapper-->
    <mdb-carousel class="d-none">
      <!--First slide-->
      <mdb-carousel-item>
        <img class="d-block img-fluid" src="assets/image/Grocery-Products-image/about-us.jpg" alt="First slide">
      </mdb-carousel-item>
      <!--/First slide-->

    </mdb-carousel>



    <!-- latest about us -->
    <section class="staticSection container">
      <div class="row align-items-center py-3 px-4">
        <span class="mainHeadding">ABOUT US</span>
          <h3>Save more with AKB! We give you the lowest prices on all your grocery needs.</h3>         
          <span class="subContent">With over 10000 Products and 1000+ Brands AapKaBazar.co is India's fastest growing online store. Started in 2011 AapKaBazar.co is present in Dwarka, Delhi. AapKaBazar.co offers wide variety of products across various categories.</span>      
        </div>

      <section class="text-center about-us-2">
                <span class="mainHeadding">What We Provide?</span>
                <ul class="aboutList">
                    <li>
                        <img src="assets/image/icon/icon-1.svg" alt="">
                        <h4>Best Prices &amp; Offers</h4>
                    </li>
                    <li>
                        <img src="assets/image/icon/icon-4.svg" alt="">
                        <h4>Wide Assortment</h4>
                      </li>
                    <li>
                        <img src="assets/image/icon/icon-5.svg" alt="">
                        <h4>Easy Returns</h4>
                      </li>
                    <li>
                        <img src="assets/image/icon/icon-2.svg" alt="">
                        <h4>Fast Delivery</h4>
                      </li>
                    <li>
                        <img src="assets/image/icon/icon-4.svg" alt="">
                        <h4>Pure &amp; Hygenically Packed</h4>
                      </li>
                    <li>
                        <img src="assets/image/icon/icon-6.svg" alt="">
                        <h4>Great Daily Deals Discount</h4>
                      </li>
                    </ul>
                </section>
           </section>

  </main>
