<div class="main">
  <div class="container offerBoxMob">
      <div class="bg-img"><img src="assets/image/left-head.png">
          <h2 class="head-2">This Week Offers</h2><img src="assets/image/right-head.png"></div>
      <ul class="OfferBox4">
          <li>
            <a href="undefined/p/61ed212c742f0368e149aae4"><img src="../../../assets/image/Offers/de1.jpg"></a>
          </li>
          <li>
            <a href="undefined/p/61eaecb22da73066de6b4984"><img src="../../../assets/image/Offers/de2.jpg"></a>
          </li>
          <li>
            <a href="undefined/p/61eaecaf2da73066de6b370a"><img src="../../../assets/image/Offers/baby1.jpg"></a>
          </li>
          <li>
            <a href="undefined/p/61eaecb02da73066de6b39b7"><img src="../../../assets/image/Offers/baby2.jpg"></a>
          </li>
          <li>
            <a href="undefined/p/61eaecb12da73066de6b4235"><img src="../../../assets/image/Offers/baby3.jpg"></a>
          </li>
          <li>
            <a href="undefined/p/61eaecaf2da73066de6b3897"><img src="../../../assets/image/Offers/baby4.jpg"></a>
          </li>
            <li class="wt100">
              <a href="undefined/p/61eaecaf2da73066de6b384c"><img src="../../../assets/image/Offers/campacola.jpg"></a>
            </li>
            <li>
              <a href="undefined/p/61eaecaf2da73066de6b34ff"><img src="../../../assets/image/Offers/sc1.jpg"></a>
            </li>
            <li>
              <a href="undefined/p/61eaecaf2da73066de6b3364"><img src="../../../assets/image/Offers/sc2.jpg"></a>
            </li>
            <li>
              <a href="undefined/p/61eaecb12da73066de6b41d3"><img src="../../../assets/image/Offers/bh1.jpg"></a>
            </li>
            <li>
              <a href="undefined/p/61ed212c742f0368e149aacd"><img src="../../../assets/image/Offers/bh2.jpg"></a>
            </li>
            <li>
              <a href="undefined/p/61eaecae2da73066de6b30d0"><img src="../../../assets/image/Offers/bh3.jpg"></a>
            </li>
            <li>
              <a href="undefined/p/61eaecb02da73066de6b3c38"><img src="../../../assets/image/Offers/bh4.jpg"></a>
            </li>
            <li class="wt100">
              <a href="beautyhygiene/c/61b19150c5aed278ca11c096"><img src="../../../assets/image/Offers/mediumBanner3.jpg"></a>
            </li>
            <li>
              <a href="undefined/p/61eaecb02da73066de6b3fe6"><img src="../../../assets/image/Offers/Bv1.jpg"></a>
            </li>
            <li>
              <a href="undefined/p/61eaecb12da73066de6b472e"><img src="../../../assets/image/Offers/Bv2.jpg"></a>
            </li>
            <li>
              <a href="undefined/p/61eaecb12da73066de6b463e"><img src="../../../assets/image/Offers/Bv3.jpg"></a>
            </li>
            <li>
              <a href="undefined/p/61eaecb02da73066de6b3c6d"><img src="../../../assets/image/Offers/Bv4.jpg"></a>
            </li>
            <li>
              <a href="undefined/p/61eaecaf2da73066de6b35e9"><img src="../../../assets/image/Offers/fg3.jpg"></a>
            </li>
            <li>
              <a href="undefined/p/61eaecb12da73066de6b4622"><img src="../../../assets/image/Offers/fg4.jpg"></a>
            </li>
            <li class="wt100">
              <a href="cleaninghouseholds/c/61b1912dc5aed278ca11c08d"><img src="../../../assets/image/Offers/mediumBanner17.jpg"></a>
            </li>
            <li>
              <a href="undefined/p/61eaecb12da73066de6b4643"><img src="../../../assets/image/Offers/FoodNew1.jpg"></a>
            </li>
            <li>
              <a href="undefined/p/61eaecb02da73066de6b3a3a"><img src="../../../assets/image/Offers/FoodNew2.jpg"></a>
            </li>
            <li>
              <a href="undefined/p/61eaecaf2da73066de6b35ef"><img src="../../../assets/image/Offers/FoodNew3.jpg"></a>
            </li>
            <li>
              <a href="food-grain--spices/spicesmasala/c/61b18e41c5aed278ca11c069/61b19378c5aed278ca11c0f3"><img src="../../../assets/image/Offers/FoodNew4.jpg"></a>
            </li>
            <li>
              <a href="undefined/p/61eaecaf2da73066de6b34bf"><img src="../../../assets/image/Offers/fg1.jpg"></a>
            </li>
            <li>
              <a href="undefined/p/61eaecaf2da73066de6b34a9"><img src="../../../assets/image/Offers/fg2.jpg"></a>
            </li>
            <li class="wt100">
              <a href="undefined/p/61eaecb12da73066de6b4644"><img src="../../../assets/image/Offers/mediumBanner6.jpg"></a>
            </li>
            <li>
              <a href="undefined/p/61ed212c742f0368e149aaaf"><img src="../../../assets/image/Offers/mbanner1.jpg"></a>
            </li>
            <li>
              <a href="undefined/p/61eaecae2da73066de6b31ad"><img src="../../../assets/image/Offers/mbanner2.jpg"></a>
            </li>
            <li>
              <a href="undefined/p/61ed212c742f0368e149aa74"><img src="../../../assets/image/Offers/mbanner3.jpg"></a>
            </li>
            <li>
              <a href="undefined/p/61ed212c742f0368e149a9eb"><img src="../../../assets/image/Offers/mbanner4.jpg"></a>
            </li>
            <li>
              <a href="undefined/p/61eaecb22da73066de6b48ce"><img src="../../../assets/image/Offers/Beauty6.jpg"></a>
            </li>
            <li>
              <a href="undefined/p/61ed212c742f0368e149aa7c"><img src="../../../assets/image/Offers/Beauty2.jpg"></a>
            </li>
            <li>
              <a href="undefined/p/61eaecb12da73066de6b46f3"><img src="../../../assets/image/Offers/category1.jpg"></a>
            </li>
            <li>
              <a href="undefined/p/61eaecb12da73066de6b4204"><img src="../../../assets/image/Offers/category2.jpg"></a>
            </li>
        </ul>
  </div>
</div>   
